$purple: #18005B;
$prio-low: #ffb342c7;
$prio-medium: #39c169c7;
$prio-urgent: #382020;

// Layout settings
div[role="presentation"] {
  font-family: open-sans, sans-serif;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 0 3px $purple;
  margin: 15px;

  @media all and(min-width: 1280px) {
    padding: 25px;
    margin: 50px;
  }
}

body {
  background-color: #fff;
  color: grey;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

select,
textarea,
button,
input {
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 5px 10px 0 0;
  font-size: 16px;
}

fieldset {
  textarea {
    display: inline-block;
    width: 80%;
  }
}

button.btn-radius {
  border-radius: 15px;
  padding: 8px 20px;
  border-width: 2px;
  border-color: $purple;
  color: $purple;
}

button:hover {
  // background-color: $purple;
  // color: #fff;
  border-color: $purple;
  box-shadow: 0 0 2px $purple;
  transition: all 0.2s ease-in-out;
}

#edit-item {
  margin-left: 10px;
}

#content {
  margin-top: 40px;
  padding: 20px;
  padding-left: 0;

  .project-list {
    font-size: 22px;
    margin: 10px 0;
    cursor: pointer;
  }
}

// navigation
nav {
  margin-top: 10px;
  border-bottom: 2px solid $purple;

  @media all and(max-width: 768px) {
    margin-top: 30px;
  }

  .menuItems {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      border: 2px solid $purple;
      border-bottom: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 10px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.5s ease-in-out;
      position: relative;
      cursor: pointer;
      margin-right: 15px;
      color: $purple;

      &.active {
        box-shadow: 0 0 1px $purple;
      }

      &:hover {
        box-shadow: 0 0 5px $purple;
      }
    }
  }
}

// Add item form
#add-listItem-form {
  label,
  input {
    display: block;
  }

  label {
    margin-top: 20px;
  }
}

//switch sliders
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px $purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

// form popup modal style
.form-popup {
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  position: absolute;
  padding: 2%;
  background: rgba(255, 255, 255, 0.25 );
  // box-shadow: 0 8px 54px 0 rgba(31 38 135 / 38%);
  backdrop-filter: blur(34px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  fieldset {
    border: 0;
  }

  @media all and(min-width: 768px) {
    padding: 20%;
  }
}

// TODO listing
#items-container {
  width: 100%;

  .item-todo {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 2px grey;

    &[complete] {
      &::after {
        background-color: #a2a2a2;
        right: 0;
        content: "Complete";
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        color: white;
      }

      .due-date,
      label {
        color: white;
      }

      .due-date {
        text-decoration: line-through;
      }
    }

    &:hover {
      box-shadow: 0 0 4px grey;
    }

    @media all and(max-width: 768px) {
      .due-date {
        position: absolute;
        top: 10px;
        left: 30px;
      }
    }

    label {
      flex-grow: 1;
      padding: 30px;

      @media all and(max-width: 768px) {
        padding-top: 45px;
      }
    }
  }
}

// prio styling
.item-todo {
  position: relative;
  margin-bottom: 5px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  &[data-prio="Low"]::after {
    background-color: $prio-low;
    right: 70%;
  }

  &[data-prio="Medium"]::after {
    background-color: $prio-medium;
    right: 50%;
  }

  &[data-prio="Urgent"] {
    &::after {
      background-color: $prio-urgent;
      right: 0;
    }

    .due-date {
      color: white;
    }
  }

  &[data-prio="Complete"]::after {
    background-color: #9e9e9e;
    right: 0;
  }
}

#destroy {
  background-color: $prio-urgent;
  color: white;
  border: 0;
  font-size: 19px;
  border-radius: 5px;

  @media all and(max-width: 768px) {
    margin-bottom: 25px;
  }
}

.list-actions,
#add-list-form {
  @media all and(max-width: 768px) {
    & > * {
      width: 100%;
    }
  }
}
