// Layout settings
div[role="presentation"] {
  font-family: open-sans, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: grey;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}

button,
input {
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 15px 10px 0 0;
  max-height: 50px;
}

// glassbox styling
.glass-box {
  padding: 20px;
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;

  &::after {
    content: '';
    width: 300px;
    height: 300px;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
  }
}

#content {
  margin-top: 40px;
  padding: 20px;
  padding-left: 0;

  .project-list {
    font-size: 22px;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0px 1px 5px #3f51b5;
    padding: 10px;
  }
}
